/* reset css */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* contact */
.btn-style:hover, .btn-style-secondary {
    background: blue;
    color:white;
    transition: 0.3s;
}

.btn-style {
    padding: 14px 30px;
    font-weight: 600;
    font-size: 16px;
    color: #fff;
    border-radius: 4px;
    background: orangered;
    border: none;
    transition: all .25s ease-in-out;
}

/* footer */
.right-side {
    padding: 10px;
    max-width: 1000px;
    margin: 0 auto;
    border-radius: 10px;
    background: var(--bg-color);
    position: absolute;
    left: 0;
    right: 0;
    top: -60px;
    box-shadow: 0px -1px 41px 0px rgb(21 22 23 / 8%);
}

.w3l-forms-9 .rightside-form button {
    background: blue;
    border: none;
    color: white;
    padding: 16px 30px;
    font-size: 16px;
    cursor: pointer;
    font-weight: 600;
    border-radius: 0 8px 8px 0;
}

.w3l-footer-22 .footer-sub {
    padding: 80px 0;
    background: #060e1f;
}

.w3l-footer-22 .sub-one-left h6, .w3l-footer-22 .sub-two-right h6 {
    color: #fff;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    margin-bottom: 20px;
    border-bottom: 1px solid rgba(23, 54, 88, 0.4);
    padding-bottom: 10px;
    font-weight: bold;
}
.w3l-footer-22 .sub-two-right ul li a {
    font-size: 14px;
    line-height: 24px;
    color: #cecece;
    margin: 0 0 10px 0;
    display: block;
}
.w3l-footer-22 .sub-one-left p, .w3l-footer-22 .sub-two-right p {
    font-size: 14px;
    line-height: 24px;
    color: #cecece;
}
.w3l-footer-22 .href2 {
    margin-top: 10px;
    padding: 10px 0;
    color: #cecece;
}