* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.space-top {
  padding: 105px;
}

/*  */

.text-number h1,
.text-number p {
  text-align: center;
}
.text-number h1 {
  font-size: 40px;
  line-height: 50px;
  font-weight: 600;
}
.text-number span {
  color: #ff8078;
}
.text-number p {
  margin-top: 30px;
  font-size: 16px;
  line-height: 28px;
}

.stat-number {
  padding-top: 36px;
}

.stat-css {
  display: flex;
  text-align: center;
  justify-content: center;
}

.counter {
  border-right: 1px solid #ccd0dc;
}
.number-text {
  font-size: 46px;
  font-weight: 600;
}

/* Feedback */
.feedback-text h1 {
  text-align: center;
  font-size: 40px;
  line-height: 50px;
  font-weight: 600;
}

.feedback-text span {
  color: #ff8078;
}

.table--test i {
  color: #ff6e65;
  font-size: 30px;
}

.table--test p {
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.4px;
  color: #929492;
}

.table-feedback {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  justify-content: center;
}

.table-feedback--1 {
  padding: 32px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 4px;
}

.grid {
  display: grid;
}

.sub-img-test {
  grid-template-columns: 0.3fr 1fr;
  align-items: center;
  grid-gap: 5px;
  margin-top: 24px;
}

.img-text-table img {
  border-radius: 50%;
}

.sub-img-test p {
  color: #a2adb0;
  font-size: 15px;
}
/* World Class Instructors */

.world-text h1 {
  font-size: 40px;
  line-height: 50px;
  font-weight: 600;
  text-align: center;
  padding-bottom: 56px;
}
.world-text span {
  color: #ff6e65;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.table-instruc {
  display: flex;
  text-align: center;
  justify-content: center;
}

.block-single {
  padding: 10px;
  border-radius: 8px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  position: relative;
}
.img-grid {
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.icon-info {
  text-align: center;
}

.icon-ground .fac,
.icon-ground .twiiter,
.icon-ground .google {
  background: white;
  font-size: 18px;
  margin-left: 15px;
  border-radius: 50%;
  padding: 5px;
  color: blue;
}

.icon-ground {
  height: 69px;
  background: rgb(8 8 8 / 29%);
  padding-top: 21px;
  position: absolute;
  bottom: 95px;
  width: 100%;
  /* opacity: 0; */
  transition: 0.5s all;
}

.info-info h5 {
  margin-top: 20px;
  font-size: 24px;
}

.info-info p {
  color: #a2adb0;
}

.info-info:hover h5 {
  color: #ff6e65;
}

/* contact */
.btn-style:hover,
.btn-style-secondary {
  background: blue;
  color: white;
  transition: 0.3s;
}

.btn-style {
  padding: 14px 30px;
  font-weight: 600;
  font-size: 16px;
  color: #fff;
  border-radius: 4px;
  background: orangered;
  border: none;
  transition: all 0.25s ease-in-out;
}

/* footer */
.right-side {
  padding: 10px;
  max-width: 1000px;
  margin: 0 auto;
  border-radius: 10px;
  background: var(--bg-color);
  position: absolute;
  left: 0;
  right: 0;
  top: -60px;
  box-shadow: 0px -1px 41px 0px rgb(21 22 23 / 8%);
}

.w3l-forms-9 .rightside-form button {
  background: blue;
  border: none;
  color: white;
  padding: 16px 30px;
  font-size: 16px;
  cursor: pointer;
  font-weight: 600;
  border-radius: 0 8px 8px 0;
}

.w3l-footer-22 .footer-sub {
  padding: 80px 0;
  background: #060e1f;
}

.w3l-footer-22 .sub-one-left h6,
.w3l-footer-22 .sub-two-right h6 {
  color: #fff;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  margin-bottom: 20px;
  border-bottom: 1px solid rgba(23, 54, 88, 0.4);
  padding-bottom: 10px;
  font-weight: bold;
}
.w3l-footer-22 .sub-two-right ul li a {
  font-size: 14px;
  line-height: 24px;
  color: #cecece;
  margin: 0 0 10px 0;
  display: block;
}
.w3l-footer-22 .sub-one-left p,
.w3l-footer-22 .sub-two-right p {
  font-size: 14px;
  line-height: 24px;
  color: #cecece;
}
.w3l-footer-22 .href2 {
  margin-top: 10px;
  padding: 10px 0;
  color: #cecece;
}
